body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
    background-image: url(img/abt\ bc\ im1.webp);
}

#header {
    background-color: #000000de;
    /* color: #fff; */
    padding: 10px;
    text-align: center;
}

#content {
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    /* border: 1px solid #ccc; */
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

#description {
    text-align: center;
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#content {
    margin: 20px;
    padding: 20px;
    background-color:transparent;
    /* border: 1px solid #ccc; */
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

#description {
    text-align: center;
    margin-bottom: 20px;
}
